footer {
  text-align: center;
  background: #0081FE;
}
footer .footer_block {
  display: inline-flex;
  flex-wrap: wrap;
  font-size: 20px;
  color: #FFF;
  width: 80%;
  height: inherit;
  padding-top: 60px;
  align-items: center;
  justify-content: space-between;
}
footer .footer_block a {
  color: #FFF;
}
footer .footer_block .footer_tel:hover {
  text-decoration: underline;
}
footer .footer_block .footer_email:hover {
  text-decoration: underline;
}
footer .footer_block .footer_logo {
  background: url("../../img/logo.svg") no-repeat;
  padding: 12px 0px 10px 45px;
}
footer .reserved {
  font-size: 16px;
  font-weight: 400;
  color: #FFF;
  padding-top: 50px;
  padding-bottom: 19px;
}